body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #f22626c4;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #ff857b;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 60px auto;
}

.weather-app {
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  border: 1px solid #d0c6c6;
  border-radius: 7px;
  margin-bottom: 0;
}

.weather-temperture img {
  margin-top: 5px;
  margin-right: 7px;
  height: 64px;
  width: 64px;
}
.weather-temperture strong {
  color: rgb(32, 33, 36);
  font-size: 50px;
  font-weight: 400;
  width: auto;
  height: 1;
}
.weather-temperture .units {
  position: relative;
  font-size: 16px;
  top: -25px;
}
.space {
  margin-bottom: 20px;
}

.weather-temperture .active {
  color: rgb(32, 33, 36);
  cursor: default;
  text-decoration: none;
}

.weather-temperture .active:hover {
  text-decoration: none;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 18px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temps {
  font-size: 14px;
}
